#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0px;
    width: 50%;
    position: absolute;
    left: 25%;
    border: 5px black solid;
}

.gridBox {
    background-color: white;
    aspect-ratio: 1/1;
}

.hover {
    background-color: black;
}